<nav class="navbar navbar-expand-xl navbar-toggleable-sm navbar-light navcolor border-bottom box-shadow">
    <div class="container nav-height">
        <a class="navbar-brand brand-a" asp-area="" asp-controller="Home" asp-action="Index"><span><img class="logo-size" src="@ViewBag.LogoUrl"/></span></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>


        <div class="navbar-collapse collapse d-xl-inline-flex flex-xl-row-reverse">
            <ul class="navbar-nav flex-grow-1 clr-collapse">
                <li class="nav-item dropdown">
                    <a class="p-2 nav-link text-white dropdown-toggle" href="#" id="dropdown01"
                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Setup
                    </a>
                    <div class="dropdown-menu" aria-labelledby="dropdown01">
                        <a class="dropdown-item text-white" asp-area="" asp-controller="Modules" asp-action="Index">Modules</a>
                        <a class="dropdown-item text-white" asp-area="" asp-controller="SubModules" asp-action="Index">Sub-Modules</a>
                        <a class="dropdown-item text-white" asp-area="" asp-controller="Reports" asp-action="Index">Reports</a>
                    </div>

                </li>

                @await Component.InvokeAsync("Menu")
            </ul>
        </div>
    </div>

</nav>

