
@{
    Layout = null;
}

@*<div class="side-b sidebar" id="sidNavBar">

</div>*@

<div id="wrapper" class="visible">
    <!-- sidebar -->
    <div id="sidebar-wrapper" class="visible sidebar-c">
        @*<div id="sidebar-header">
            <h3>Reports</h3>
        </div>*@
        <ul id="sidNavBar" class="sidebar-nav">
        </ul>
    </div>
</div>