@model Softcode.Rms.Web.UI.Models.Report

@{
    ViewData["Title"] = "Details";
    var imageUrl = "~/Images/" + (Model.ImageUrl ?? "noimage.jpg");
}

@*<h3>Details</h3>*@

@*<div class="mt-5">
        <dl class="row">
            <dd class = "col-sm-10">
                <img class="details_image" src="@imageUrl" asp-append-version="true"/>
            </dd>
        </dl>
    </div>*@


<div class="details_image text-center">
    <span>
        <img class="" src="@imageUrl" asp-append-version="true" />
    </span>
</div>