@model Softcode.Rms.Web.UI.Models.Report

@{
    ViewData["Title"] = "Details";
    var imageUrl = "~/Images/" + (Model.ImageUrl ?? "noimage.jpg");
}

<div class="details_image text-center">
    <span>
        <img class="" src="@imageUrl" asp-append-version="true" />
    </span>
</div>