/*-----------------Custom CSS------------------*/


/*DataTable And Table*/
th, td {
    white-space: nowrap;
}


th {
    background: #666a71;
    color: white;
}


div.dataTables_wrapper {
    margin: 0 auto;
}

tr {
    height: 10px;
}

.table td, .table th {
    padding: .45rem;
    vertical-align: top;
    border-top: 1px solid #dee2e6;
}

/*DataTable And Table*/



.header-1 {
    height: 42px;
    background: #1278B3;
}

.logo-size {
    height: 25px;
    width: 30px;
}

.border-1 {
    border: 1px solid #d0d0d0 !important;
}

.upload-box {
    margin-top: 23px;
    width: 129%;
    height: 218px;
}
.button {
    display: inline-block;
    font-weight: 400;
    color: #212529;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0.25rem;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.button-success {
    color: #fff;
    background-color: #28a745;
    border-color: #28a745;
}

.button-green {
    color: #28a745;
}

.button-de {
    color: #1765cf;
}

.bd {
    border: 1px;
    margin-left: 3px;
    height: 10px;
    width: 10px
}

.t-ar {
    height: 16px;
}
.button-red {
    color: #cb1d2d;
}

.button-success:hover {
    color: #fff;
    background-color: #218838;
    border-color: #1e7e34;
}

.button-success:focus, .btn-success.focus {
        box-shadow: 0 0 0 0.2rem rgba(72, 180, 97, 0.5);
    }


.button-info {
    color: #fff;
    background-color: #17a2b8;
    border-color: #17a2b8;
}

.button-info:hover {
        color: #fff;
        background-color: #138496;
        border-color: #117a8b;
    }

.button-info:focus, .btn-info.focus {
        box-shadow: 0 0 0 0.2rem rgba(58, 176, 195, 0.5);
    }


.button-danger {
    color: #fff;
    background-color: #dc3545;
    border-color: #dc3545;
}

.button-danger:hover {
        color: #fff;
        background-color: #c82333;
        border-color: #bd2130;
    }

.button-danger:focus, .btn-danger.focus {
        box-shadow: 0 0 0 0.2rem rgba(225, 83, 97, 0.5);
    }

.button-add {
    color: #fff;
    -ms-border-radius: 10px;
    border-radius: 10px;
}

.button-blue {
    color: #1278B3;
    font-size: 1.4rem;
    margin-bottom: 3px;
}

    .button-add:hover {
        color: #fff;
        background-color: #8c8d8d;
        border-color: #8c8d8d;
    }

.button-add:focus, .btn-danger.focus {
    box-shadow: 0 0 0 0.2rem #d7d5d5;
}



.leg-custom {
    width: 22%;
}

.leg-custom-1 {
    width: 41.5%;
}


.leg-custom-2 {
    width: 6.8%;
}

.ms-view {
    min-height: 86%;
}

.form-custom {
    margin-left: 29%;
}

.form-custom-1 {

}


.m-left {
    margin-left: 34.8%;
}
/*@media (min-width: 950px) {
    .size-lm {
        -ms-flex: 0 0 85%;
        flex: 0 0 85%;
        max-width: 85%;
    }
}*/
@media (min-width: 800px) {
    .size-m {
        -ms-flex: 0 0 85%;
        flex: 0 0 85%;
        max-width: 85%;
    }
}

a:hover {
    text-decoration: none !important;
}

.btn-border {
    border: 1px solid #a2a7ab !important;
    padding: 4px;
    background-color: #a2a7ab;
    -ms-border-radius: 10px;
    border-radius: 10px;
}

.clr-collapse {
    background-color: #1278B3;
    width: 200px;
    float: right;
}

.nav-height {
    min-width: 98.5%;
    max-width: 98.5%;
    min-height: 40px;
    max-height: 40px;
    padding-left: 8px;
    padding-right: 8px;
    margin-left: 7px !important;
    margin-right: 8px !important;
}


.side-b {
    min-width: 185px;
    background: #1278B3;
    max-width: 185px;
}

.side-li {
    min-width: 185px;
    background: #1278B3;
    max-width: 185px;
    cursor: pointer;
}

    .side-li:hover {
        background: #278ac3;
    }

/*a:hover {
    text-decoration: none !important;
    background: #278ac3;
}*/

.footer {
    line-height: 48px !important;
    min-width: 97%;
}


body {
    margin-bottom: 0 !important;
}

.sidebar {
    background-color: #1278B3;
    padding-top: 6px;
    min-height: calc(100vh - 41px);
    min-width: 185px;
}


.container {
    margin-right: 1.2%;
    margin-left: 1.2%;
}

.navbar {
    padding: 0;
}

.navcolor {
    background: #1278B3;
}

.dropdown-item {
    background: #1278B3;
}

    .dropdown-item :hover {
        background: #278ac3;
    }

.nav-item :hover {
    background: #278ac3;
}

.dropdown-menu {
    background: #1278B3;
}


.navbar-light .navbar-brand {
    color: #ffffff;
    /*margin-right: 150px;*/
    margin-right: 40px;
}

    /*.navbar-light .navbar-brand:hover {
        color: #ffffff;
        background: #278ac3;
    }*/


.u-img-size {
    width: 38px;
    height: 27px;
}


.nav-l {
    display: block;
    padding: .5rem .5rem .2rem .5rem;
}

.dropdown-m {
  
    min-width: 0rem !important;
}

.brand-a:hover {
    color: #fff;
    background-color: inherit;
    border-color: #8c8d8d;
}


/*-----------------Custom CSS------------------*/
    a .navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
    color: #0366d6;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}


html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}


.dropdown-menu {
    padding: 0;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
}

.footer {
    /*position: absolute;*/
    bottom: 0;
    white-space: nowrap;
    line-height: 60px; /* Vertically center the text there */
}
